@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://source.unsplash.com/1920x1080/?paris');
    font-family: 'Poppins', sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    min-width: 386px;
    min-height: 705px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 70px;
    width: 100%;
}
.current-info{
    font-weight: 100;
}
.current-info .time{
    font-size: 70px;
}
.current-info #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.current-info .date {
    font-size: 30px;
}
.current-info .others {
    display: flex;
    flex-direction: column;
    background-color: rgba(24,24,27,0.6);
    padding: 20px;;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #eee;
}
.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(24,24,27,0.6);
    border: 1px solid #eee;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    width: 20%;
    min-width: 300px;
}
.searchbox input{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: rgba(24,24,27,0.2);
    color: white;
    font-size: 100%;
}
.searchbox button {
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: rgba(24,24,27,0.2);
    color: white;
    cursor: pointer;
}
button:hover {
    background: #7c7c7c6b;
}
.future-forecast{
    background-color: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y:hidden;
}
.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    background-color: rgba(0,0,0,0.2);
}
.future-forecast .today .day{
    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}
.future-forecast .weather-forecast{
    display: flex;
}
.future-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}
@media only screen and  (max-width:730px){
    .container{
        padding: 20px;
    }
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: auto;
    }
    .current-info .time{
        font-size: 50px;
    }
    .current-info #am-pm{
        font-size: 20px;
    }
    .current-info .date{
        font-size: 20px;
    }
    .place-container{
        text-align: end;
        margin-top: 15px;
    }
    .place-container .time-zone{
        font-size: 20px;
    }
    .current-info .others{
        padding: 12px;
    }
    .current-info .others .weather-item{
        font-size: 14px;
    }
    .searchbox{
        align-self: start;
        min-width: 182.17px;
    }
    .searchbox input{
        padding: 0.2em 0;
        font-size: 70%;
    }
    .searchbox button {
        height: 33px;
        width: 33px;
    }
}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: auto;
    }
}
