@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://images.unsplash.com/photo-1565036045177-025ab34fb5b3?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8SXN0YW5idWx8fHx8fHwxNjMyNDY4MzMx&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920');
    background-color: rgba(var(--color-highlight), 0);
    font-family: 'Poppins', sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    min-width: 386px;
    min-height: 705px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 70px;
    width: 100%;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.current-info{
    font-weight: 100;
}
.current-info .time{
    font-size: 70px;
}
.current-info #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.current-info .date {
    font-size: 30px;
}
.current-info .others {
    display: flex;
    flex-direction: column;
    background-color: rgba(24,24,27,0.6);
    padding: 20px;;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #eee;
}
.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-info .others .weather-item img{
    width: 60px;
    height: 60px;
}
.place-info{
    text-align: end;
}
.place-info .country{
    align-self: center;
    font-size: 30px;
    font-weight: 100;
}
.place-info .location{
    font-size: 10px;
    font-weight: 700;
}
.searchbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    width: 20%;
    min-width: 300px;
    margin-bottom: 20px;
}
.srch{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchbox .srch input{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 25px 0px 0px 25px;
    background-color: rgba(24,24,27,0.6);
    color: white;
    font-size: 100%;
}
.searchbox .srch button {
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    border-radius:  0px 25px 25px 0px;
    background-color: rgba(24,24,27,0.6);
    color: white;
    cursor: pointer;
}
.srch button:hover {
    background: #7c7c7c6b;
}
.srch input:focus + button{
    background-color: rgba(24,24,27);
    border-radius: 0px 25px 0px 0px;
}
.srch input:focus{
    background-color: rgba(24,24,27);
    border-radius: 25px 0px 0px 0px;
}  
.result{
    display: flex;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
}
.result li:hover {
    background: #7c7c7c6b;
}
#rlist{
    list-style-type: none;
    width: 271px;
    background-color: rgba(24,24,27);
    border-radius:  0px 0px 25px 25px;
}
#rlist li{
    padding: 0.4em 1em;
}
#rlist li:last-child:hover{
    border-radius: 0px 0px 25px 25px;
}
.future-forecast{
    background-color: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y:hidden;
}
.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    min-width: 389px;
    background-color: rgba(0,0,0,0.2);
}
.future-forecast .today .day{
    padding: 5px 15px;
    background-color: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}
.future-forecast .weather-forecast{
    display: flex;
}
.future-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}
#current-temp img{
    width: 200px; 
    height: 200px;
}
@media only screen and (max-width: 1200px){
    .searchbox{
        justify-content: flex-start;
        align-self: flex-start;
    }
    .srch{
        justify-content: flex-start;
        align-self: flex-start;
    }
    .result{
        width: 189px;
    }
    .result ul{
        border: 1px solid white;
        border-top: none;
    }
    .searchbox .srch input{
        width: 145px;
        padding: 0.3em 0;
        padding-left: 20px; /* for text*/
        font-size: 100%;
        border: 1px solid white;
        border-right: none;
        border-bottom: none;
    }
    .searchbox .srch button {
        border: 1px solid white;
        border-left: none;
        border-bottom: none;
    }
}
@media only screen and (max-width:730px){
    .container{
        padding: 20px;
    }
    .future-forecast{
        justify-content: start;
        align-items: none;
    }
    .current-info .time{
        font-size: 50px;
    }
    .current-info #am-pm{
        font-size: 20px;
    }
    .current-info .date{
        font-size: 20px;
    }
    .place-container{
        text-align: end;
        margin-top: 15px;
    }
    .place-container .time-zone{
        font-size: 20px;
    }
    .current-info .others{
        padding: 12px;
    }
    .current-info .others .weather-item{
        font-size: 13px;
    }
    .current-info .others .weather-item img{
        width: 35px;
        height: 35px;
    }
    .place-info{
        margin-left: 10px;
        margin-top: 5px;
    }
    .place-info .country{
        font-size: 23px;
    }
    .searchbox{
        align-self: start;
        min-width: 182.17px;
    }
    .searchbox .srch input{
        padding: 0.3em 0;
        padding-left: 20px; /* for text*/
        font-size: 100%;
        width: 110px;
        border: 1px solid white;
        border-right: none;
        border-bottom: none;
    }
    .searchbox ::placeholder{
        font-size: 13px;
    }
    .searchbox .srch button {
        height: 37px;
        width: 37px;
        border: 1px solid white;
        border-left: none;
        border-bottom: none;
    }
    .result{
        justify-content: flex-start;
    }
    .result ul{
        border: 1px solid white;
        border-top: none;
    }
    #rlist{
        width: 147px;
    }
}
@media only screen and (min-height: 750px){
    @media only screen and (max-width: 1400px){
        .future-forecast{
            justify-content: start;
            align-items: none;
            overflow-x: auto;
        }
    }
}
@media only screen and (max-height: 750px){
    #current-temp img{
        width: 100px;
        height: 100px;
    }
    .future-forecast .today {
        min-width: 253px;
    }
    .future-forecast .today .temp {
        font-size: 13px;
        padding-top: 15px;
    }
    .weather-forecast-item{
        min-width: 90px;
    }
    .weather-forecast-item img{
        width: 50px;
        height: 50px;
    }
    .weather-forecast .weather-forecast-item .day{
        padding: 0px 10px;
        background: #3C3C44;
        border-radius: 50px;
        text-align: center;
    }
    
    .weather-forecast .weather-forecast-item .temp{
        font-weight: 100;
        font-size: 9px;
    }
    @media only screen and (max-width: 950px){
        .future-forecast{
            justify-content: start;
            align-items: none;
            overflow-x: auto;
        }
    }
}
